{% extends 'base.html' %}
{% block mainContent %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4">
            <h3 class="fw-bold mb-3">{% if todo %}Update{% else %}Add{% endif %} Task</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="todo" class="form-control" value="{{ todo.todo }}" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 rounded-pill">Save Task</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}