{% extends "base.html" %}
{% load static %}

{% block title %}{{ blog.title }}{% endblock title %}

{% block mainContent %}
    <section class="container py-3 vstack gap-3">
        <h1 class="text-center text-decoration-underline">{{ blog.title }}</h1>
        <div class="row d-flex justify-content-between">
            <p class="col-auto">Author: {{ blog.user.username }}</p>
            <p class="col-auto">Published On: {{ blog.created_at }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <a type="button" class="btn btn-info text-white"
               href="{% url 'blog:blog.like' blog.id %}">{{ blog.num_of_likes }} Like{{ blog.num_of_likes|pluralize }}</a>
            
            {% if blog.user == request.user %}
                <div class="d-flex gap-2">
                    <a href="{% url 'blog:blog.edit' blog.id %}" class="btn btn-outline-primary">Edit Blog</a>
                    <a href="{% url 'blog:blog.delete' blog.id %}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this blog?')">Delete Blog</a>
                </div>
            {% endif %}
        </div>
        {% if blog.image %}
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="img-fluid">
        {% else %}
            <img src="{% static 'images/default_image.png' %}" alt="{{ blog.title }}" class="img-fluid">
        {% endif %}
        <p class="lh-lg h5" style="text-align: justify">{{ blog.content }}</p>
    </section>
{% endblock mainContent %}